audit=false
depth=0
fetch-retry-mintimeout=2000
fetch-retry-maxtimeout=10000
init-version=0.0.0
init-license=MIT
long=false
optional=false
progress=false
loglevel=warn
preid=rc
unicode=true
save-exact=true
save-prefix=~

usage=true
versions=false
